@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Chat";
}

<!-- BEGIN HEADER-->
<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="../../html/dashboards/dashboard.html">
                            <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-toggle">
                <li>
                    <a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </li>
            </ul><!--end .header-nav-toggle -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->
<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas"></div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->
    <!-- BEGIN OFFCANVAS RIGHT -->
    <div class="offcanvas">
        <!-- BEGIN OFFCANVAS SEARCH -->
        <div id="offcanvas-search" class="offcanvas-pane width-8">
            <div class="offcanvas-head">
                <header class="text-primary">Online Users</header>
                <div class="offcanvas-tools">
                    <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                        <i class="md md-close"></i>
                    </a>
                </div>
            </div>
            <div class="offcanvas-body no-padding">
                <ul class="list">
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text"></div>
                        </div>
                    </li>
                </ul>
                <ul class="list" id="contact-list"></ul>
            </div><!--end .offcanvas-body -->
        </div><!--end .offcanvas-pane -->
        <!-- END OFFCANVAS SEARCH -->
        <div id="offcanvas-chat" class="offcanvas-pane style-default-light width-12">
            <div class="offcanvas-head style-default-bright">
                <header class="text-primary">Chat with Ann Laurens</header>
                <div class="offcanvas-tools">
                    <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                        <i class="md md-close"></i>
                    </a>
                    <a class="btn btn-icon-toggle btn-default-light pull-right" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                        <i class="md md-arrow-back"></i>
                    </a>
                </div>
                <form class="form">
                    <div class="form-group floating-label">
                        <textarea name="sidebarChatMessage" id="sidebarChatMessage" class="form-control autosize" rows="1"></textarea>
                        <label for="sidebarChatMessage">Leave a message</label>
                    </div>
                </form>
            </div>
            <div class="offcanvas-body">
                <ul class="list-chats">
                    <li>
                        <div class="chat">
                            <div class="chat-avatar"><img class="img-circle" src="../../assets/img/avatar1.jpg?1403934956" alt="" /></div>
                            <div class="chat-body">
                                Yes, it is indeed very beautiful.
                                <small>10:03 pm</small>
                            </div>
                        </div><!--end .chat -->
                    </li>
                </ul>
            </div><!--end .offcanvas-body -->
        </div>
        <!-- END OFFCANVAS RIGHT -->

    </div><!--end #base-->
</div>
<div class="container" id="main-content">
    <div class="chatapi-windows showit"></div>
</div>
<!-- END BASE -->

@section scripts {
    @*
        Load Javascript Dependencies for SignalR Chat
    *@
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {
            var chatarea = $(".page-chatapi");
            //Create connection object  from signalR
            var chat = $.connection.chatHub;
            var username = '@User.Identity.GetUserName()';
            var userimage = "/images/DP/dummy.png";

            chat.client.onGetUser = function (list, loginDate, userimg) {
                var waitingList = list;
                //loop through logged in users
                for (var i = 0; i < waitingList.length; i++) {
                    AddUser(list[i].Id, list[i].UserName, userimg);
                }

            };

            //Function initiated by the server side due to sent private message by another user
            chat.client.sendPrivateMessage = function (windowId, fromUserName, message, userimg, CurrentDateTime) {
                msg = chatformat_msg_recipient(message, 'receive', fromUserName);
                //Check if chatbox has been created/exits (append if true else create new chatbox, append message and show)
                if ($('#' + windowId).hasClass("active")) {
                    $(".chatapi-windows #user-window" + windowId + " .offcanvas-body .list-chats").prepend(msg);
                } else {
                    $('#' + windowId).toggleClass("active");
                    if ($(".chatapi-windows #user-window" + windowId).length) {

                        $(".chatapi-windows #user-window" + windowId).removeClass("minimizeit").show();
                        $(".chatapi-windows #user-window" + windowId + " .offcanvas-body .list-chats").prepend(msg);
                    } else {
                        var html = "<div class='user-window' id='user-window" + windowId + "' data-user-id='" + windowId + "'>";
                        html += "<div class='controlbar'>";
                        html += "<img src='" + userimg + "' data-user-id='" + windowId + "' rel='tooltip' data-animate='animated fadeIn' data-toggle='tooltip' data-original-title='" + fromUserName + "' data-placement='top' data-color-class='primary' />";
                        html += "<span class='status " + status + "'><i class='fa fa-circle'></i></span>";
                        html += "<span class='name' > " + fromUserName + "</span >";
                        html += "<span class='opts'><i class='md md-close closeit' data-user-id='" + windowId + "'></i><i class='md md-arrow-back minimizeit' data-user-id='" + windowId + "'></i></span>";
                        html += "</div>";
                        html += "<div class='offcanvas-head style-default-bright'>";
                        html += "<form class='form'>";
                        html += "<div class='form-group floating-label'>"
                        html += "<input name='chatMessage' id='chatMessage' class='form-control autosize' data-user-id='" + windowId + "'/>";
                        html += "<label for='chatMessage'>Type & Enter</label>";
                        html += "</div>";
                        html += "</form>";
                        html += "</div>";
                        html += "<div class='offcanvas-body'>";
                        html += "<ul class='list-chats'>"+msg;
                        html += "</ul>";
                        html += "</div>";
                        html += "</div>";
                        $(".chatapi-windows").append(html);
                        $(".chatapi-windows").removeClass('hideit').addClass('showit');
                    }
                    }
            }

            //Function initiated by the server side due to sent group message by another user
            chat.client.addNewMessageToPage = function (name, message, userCount, list) {
                var d = new Date();
                var h = d.getHours();
                var m = d.getMinutes();
                if (name === username) {
                    $('.chat-message-field').append('<li class="group-chat-others">' +
                        '<div class="author-thumb" >' +
                        '<img src="/images/DP/dummy.png" alt="author">' +
                        '</div>' +
                        '<div class="notification-event">' +
                        '<h6 class="notification-friend">' + name + '</h6>' +
                        '<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">' + h + ":" + m + '</time></span>' +
                        '<span class="chat-message-item">' + message + '</span>' +
                        '</div>' +
                        '<div style="clear:both;padding-bottom:50px;"></div>'+
                        '</li>');
                    $(".mCustomScrollbar").scrollTop($(".mCustomScrollbar")[0].scrollHeight);
                } else {
                    $('.chat-message-field').append('<li class="group-chat-me">' +
                        '<div class="author-thumb" >' +
                        '<img src="/images/DP/dummy.png" alt="author">' +
                        '</div>' +
                        '<div class="notification-event">' +
                        '<h6 class="notification-friend">' + name + '</h6>' +
                        '<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">' + h + ":" + m + '</time></span>' +
                        '<span class="chat-message-item">' + message + '</span>' +
                        '</div>' +
                        '</li>');
                    $(".mCustomScrollbar").scrollTop($(".mCustomScrollbar")[0].scrollHeight);
                }

            };

            //Call back function for hub.start making a call to ChatHub class (c#)
            $.connection.hub.start().done(function () {
                var userId = '@User.Identity.GetUserId()';
                var conId = $.connection.hub.id;
                chat.server.registerUser(userId, conId);
                //calls getUser on ChatHub class (c#) which initiates chat.client.onGetUser
                chat.server.getUser();
            });

            //Enter keypress function to listen and send private message
            $(document).on('keypress', "#chatMessage", function (e) {
                if (e.keyCode == 13) {
                    var id = $(this).attr("data-user-id");
                    var msg = $(this).val();
                    var userId = '@User.Identity.GetUserId()';
                    //send message to recipient
                    chat.server.sendPrivateMessage(id, msg, userId);
                    msg = chatformat_msg(msg, 'sent', 'You');
                    //Add message to senders chat window
                    $(".chatapi-windows #user-window" + id + " .offcanvas-body .list-chats").prepend(msg);
                    $(this).val("");
                    $(this).focus();
                    e.preventDefault();
                }
                $(".chatapi-windows #user-window" + id + " .chatarea").perfectScrollbar({
                    suppressScrollX: true
                });
            });

            //Enter keypress function to listen and send group message
            $('#post-message').click(function () {
                chat.server.send(username, $('#send-group').val());
                $('#send-group').val('').focus();
            });

            $('#close').click(function () {
                $('#group-chatbox').css({'display':'none'});
            });
        });

        //AddUser function to add users to online users list
        function AddUser(id, username, userimage) {
            //create html template for user being added to the list
            var html = '<li class="tile user-row" id="chat_user_' + id + '" data-user-id="' + id + '" onclick="openChatBox(\'chat_user_' + id + '\')">' +
                '<a class="tile-content ink-reaction" href="#" data-toggle="offcanvas" data-backdrop="false">' +
                '<div class="tile-icon">' +
                '<img src="' + userimage + '" alt="" />' +
                '</div>' +
                '<div class="tile-text">' +
                '<h4>' + username +'</h4>'+
                '<small>available</small>' +
                '</div>' +
                '</a>' +
                '</li>';
            $('#contact-list').append(html);
        }

        //Toggle chat box display
        function openChatBox(userId) {
            var name = $('#' + userId).find(".tile-content .tile-text h4").html();
            var img = $('#' + userId).find(".tile-content .tile-icon img").attr("src");
            var id = $('#' + userId).attr("data-user-id");
            //var status = $('#' + userId).find(".user-info .status").attr("data-status");

            if ($('#' + userId).hasClass("active")) {
                $('#' + userId).toggleClass("active");

                $(".chatapi-windows #user-window" + id).hide();

            } else {
                $('#' + userId).toggleClass("active");

                //Check if chatbox has been created/exits (show if true else create new chatbox and show)
                if ($(".chatapi-windows #user-window" + id).length) {
                    $(".chatapi-windows #user-window" + id).removeClass("minimizeit").show();
                } else {
                    //var msg = chatformat_msg('Wow! What a Beautiful theme!', 'receive', name);
                    //msg += chatformat_msg('Yes! Crest Admin Theme ;)', 'sent', 'You');
                    var html = "<div class='user-window' id='user-window" + id + "' data-user-id='" + id + "'>";
                    html += "<div class='controlbar'>";
                    html += "<img src='" + img + "' data-user-id='" + id + "' rel='tooltip' data-animate='animated fadeIn' data-toggle='tooltip' data-original-title='" + name + "' data-placement='top' data-color-class='primary' />";
                    html += "<span class='status " + status + "'><i class='fa fa-circle'></i></span>";
                    html += "<span class='name' > " + name + "</span >";
                    html += "<span class='opts'><i class='md md-close closeit' data-user-id='" + id + "'></i><i class='md md-arrow-back minimizeit' data-user-id='" + id + "'></i></span>";
                    html += "</div>";
                    html += "<div class='offcanvas-head style-default-bright'>";
                    html += "<form class='form'>";
                    html += "<div class='form-group floating-label'>"
                    html += "<input name='chatMessage' id='chatMessage' class='form-control autosize' data-user-id='" + id + "'/>";
                    html += "<label for='chatMessage'>Type & Enter</label>";
                    html += "</div>";
                    html += "</form>";
                    html += "</div>";
                    html += "<div class='offcanvas-body'>";
                    html += "<ul class='list-chats'>";
                    html += "</ul>";
                    html += "</div>";
                    html += "</div>";
                    $(".chatapi-windows").append(html);
                    $(".chatapi-windows").removeClass('hideit').addClass('showit');
                }
            }
        }

        //create format for message to display in chat box
        function chatformat_msg(msg, type, name) {
            var d = new Date();
            var h = d.getHours();
            var m = d.getMinutes();
            if (msg === '') {
                return "";
            }
            else {
                html = "<li>";
                html += "<div class='chat'>";
                html += "<div class='chat-avatar'><img class='img-circle' src='../../assets/img/avatar1.jpg?1403934956' alt='' /></div>";
                html += "<div class='chat-body'>"+msg;
                html += "<small>" + h + ":" + m + "</small>";
                html += "</div>";
                html += "</div>";
                html += "</li>";
                return html;
                //return "<div class='chatmsg recipient_msg msg_" + type + "'><span class='name'>" + name + "</span><span class='text'>" + msg + "</span><span class='ts'>" + h + ":" + m + "</span></div>";
            }
        }

        function chatformat_msg_recipient(msg, type, name) {
            var d = new Date();
            var h = d.getHours();
            var m = d.getMinutes();
            if (msg === '') {
                return "";
            }
            else {
                html = "<li class='chat-left'>";
                html += "<div class='chat'>";
                html += "<div class='chat-avatar'><img class='img-circle' src='../../assets/img/avatar1.jpg?1403934956' alt='' /></div>";
                html += "<div class='chat-body'>" + msg;
                html += "<small>" + h + ":" + m + "</small>";
                html += "</div>";
                html += "</div>";
                html += "</li>";
                return html;
            }
        }
    </script>
}

