@{
    ViewBag.Title = "Modules Page";
    Layout = "~/Views/Shared/_ELearningLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Modules</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                <a href="Courses">Courses</a>
            </li>
            <li class="active">
                <strong>Modules</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">

                        <button class="btn btn-primary btn-block">Course1</button>
                        <div class="hr-line-dashed"></div>
                        <div class="ibox-content">

                            <div id="jstree1">
                                <ul>
                                    <li class="jstree-open">
                                        Module1
                                        <ul>
                                            <li>
                                                Topic1
                                            </li>
                                            <li>
                                                Topic2
                                            </li>
                                            <li>
                                                Topic3
                                            </li>
                                            <li class="jstree-open">
                                                Topic4
                                            </li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br>
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br>
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="file-name">
                                    Michal Jackson.mp3
                                    <br>
                                    <small>Added: Jan 22, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="img-responsive fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br>
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br>
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br>
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br>
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="file-name">
                                    Michal Jackson.mp3
                                    <br>
                                    <small>Added: Jan 22, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="img-responsive fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br>
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br>
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br>
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br>
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="file-name">
                                    Michal Jackson.mp3
                                    <br>
                                    <small>Added: Jan 22, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br>
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="img-responsive fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br>
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br>
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
</div>